.main-container{
    height: 100vh;
    width: 100%;
    background-color: #303030;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.main-display{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.plane-container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.battery-container{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.utilities-display{
    width: 100%;
    height: 30%;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #FFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.utility-buttons{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.speedometer-container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}